.ink-button.blue {
  color: #ffffff;
  border-color: #0a4f92;
  border-bottom-color: #073563;
  text-shadow: 0 -0.09em 0.03em #073563;
  background: #0f75da;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f75da', endColorstr='#0a4f92');
  background: -moz-linear-gradient(top, #0f75da 0%, #0a4f92 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f75da), color-stop(100%, #0a4f92));
  background: -webkit-linear-gradient(top, #0f75da 0%, #0a4f92 100%);
  background: -o-linear-gradient(top, #0f75da 0%, #0a4f92 100%);
  background: -ms-linear-gradient(top, #0f75da 0%, #0a4f92 100%);
  background: linear-gradient(to bottom, #0f75da 0%, #0a4f92 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.ink-button.blue:hover {
  background: #1d87ef;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d87ef', endColorstr='#0a5197');
  background: -moz-linear-gradient(top, #1d87ef 0%, #0a5197 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d87ef), color-stop(100%, #0a5197));
  background: -webkit-linear-gradient(top, #1d87ef 0%, #0a5197 100%);
  background: -o-linear-gradient(top, #1d87ef 0%, #0a5197 100%);
  background: -ms-linear-gradient(top, #1d87ef 0%, #0a5197 100%);
  background: linear-gradient(to bottom, #1d87ef 0%, #0a5197 100%);
  -webkit-box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  -moz-box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  color: #ffffff;
  text-decoration: none;
}
.ink-button.blue:active {
  background: #0d63b9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d63b9', endColorstr='#1d87ef');
  background: -moz-linear-gradient(top, #0d63b9 0%, #1d87ef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d63b9), color-stop(100%, #1d87ef));
  background: -webkit-linear-gradient(top, #0d63b9 0%, #1d87ef 100%);
  background: -o-linear-gradient(top, #0d63b9 0%, #1d87ef 100%);
  background: -ms-linear-gradient(top, #0d63b9 0%, #1d87ef 100%);
  background: linear-gradient(to bottom, #0d63b9 0%, #1d87ef 100%);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
}
.ink-button.blue.flat {
  background: #0d68c2;
}
.ink-button.blue.flat:hover {
  background: #0c5baa;
}
.ink-button.blue[disabled],
.ink-button.blue .ink-disabled {
  background: #98b4d0;
  box-shadow: none;
  border: none;
  text-shadow: none;
}
.ink-button.blue[disabled]:hover,
.ink-button.blue .ink-disabled:hover {
  background: #98b4d0;
  cursor: not-allowed;
}
