.ink-form .ink-button {
  margin: 0 5px;
}
.ink-form .control-group .control.append-button .ink-button {
  margin: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: none;
}

.ink-form .control-group .control.prepend-button .ink-button {
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: none;
}

.ink-button {
  -webkit-appearance: menuitem;
  font-weight: bold;
  font-size: 15px;
  padding: 7px 12px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px;
  color: #333333;
  border-color: #c8c8c8;
  border-bottom-color: #aeaeae;
  text-shadow: 0 0.09em 0.03em #ffffff;
  background: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#c8c8c8');
  background: -moz-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #c8c8c8 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.ink-button:hover {
  background: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cacaca');
  background: -moz-linear-gradient(top, #ffffff 0%, #cacaca 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #cacaca));
  background: -webkit-linear-gradient(top, #ffffff 0%, #cacaca 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #cacaca 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #cacaca 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #cacaca 100%);
  -webkit-box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  -moz-box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  color: #333333;
  text-decoration: none;
}
.ink-button:active {
  background: #dcdcdc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#ffffff');
  background: -moz-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dcdcdc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #dcdcdc 0%, #ffffff 100%);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
}
.ink-button[disabled],
.ink-button .ink-disabled {
  background: #eeeeee;
  box-shadow: none;
  border: none;
}
.ink-button[disabled]:hover,
.ink-button .ink-disabled:hover {
  background: #eeeeee;
  cursor: not-allowed;
}
.ink-button.orange {
  color: #ffffff;
  border-color: #b36d00;
  border-bottom-color: #804e00;
  text-shadow: 0 -0.09em 0.03em #804e00;
  background: #ff9c00;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9c00', endColorstr='#b36d00');
  background: -moz-linear-gradient(top, #ff9c00 0%, #b36d00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9c00), color-stop(100%, #b36d00));
  background: -webkit-linear-gradient(top, #ff9c00 0%, #b36d00 100%);
  background: -o-linear-gradient(top, #ff9c00 0%, #b36d00 100%);
  background: -ms-linear-gradient(top, #ff9c00 0%, #b36d00 100%);
  background: linear-gradient(to bottom, #ff9c00 0%, #b36d00 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.ink-button.orange:hover {
  background: #ffaa24;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaa24', endColorstr='#b87000');
  background: -moz-linear-gradient(top, #ffaa24 0%, #b87000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffaa24), color-stop(100%, #b87000));
  background: -webkit-linear-gradient(top, #ffaa24 0%, #b87000 100%);
  background: -o-linear-gradient(top, #ffaa24 0%, #b87000 100%);
  background: -ms-linear-gradient(top, #ffaa24 0%, #b87000 100%);
  background: linear-gradient(to bottom, #ffaa24 0%, #b87000 100%);
  -webkit-box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  -moz-box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  color: #ffffff;
  text-decoration: none;
}
.ink-button.orange:active {
  background: #db8600;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db8600', endColorstr='#ffaa24');
  background: -moz-linear-gradient(top, #db8600 0%, #ffaa24 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #db8600), color-stop(100%, #ffaa24));
  background: -webkit-linear-gradient(top, #db8600 0%, #ffaa24 100%);
  background: -o-linear-gradient(top, #db8600 0%, #ffaa24 100%);
  background: -ms-linear-gradient(top, #db8600 0%, #ffaa24 100%);
  background: linear-gradient(to bottom, #db8600 0%, #ffaa24 100%);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
}
.ink-button.orange.flat {
  background: #e68c00;
}
.ink-button.orange.flat:hover {
  background: #cc7d00;
}
.ink-button.orange[disabled],
.ink-button.orange .ink-disabled {
  background: #dfc69f;
  box-shadow: none;
  border: none;
  text-shadow: none;
}
.ink-button.orange[disabled]:hover,
.ink-button.orange .ink-disabled:hover {
  background: #dfc69f;
  cursor: not-allowed;
}
.ink-button.red {
  color: #ffffff;
  border-color: #820b0b;
  border-bottom-color: #530707;
  text-shadow: 0 -0.09em 0.03em #530707;
  background: #c91111;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c91111', endColorstr='#820b0b');
  background: -moz-linear-gradient(top, #c91111 0%, #820b0b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c91111), color-stop(100%, #820b0b));
  background: -webkit-linear-gradient(top, #c91111 0%, #820b0b 100%);
  background: -o-linear-gradient(top, #c91111 0%, #820b0b 100%);
  background: -ms-linear-gradient(top, #c91111 0%, #820b0b 100%);
  background: linear-gradient(to bottom, #c91111 0%, #820b0b 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.ink-button.red:hover {
  background: #ea1414;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea1414', endColorstr='#870b0b');
  background: -moz-linear-gradient(top, #ea1414 0%, #870b0b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea1414), color-stop(100%, #870b0b));
  background: -webkit-linear-gradient(top, #ea1414 0%, #870b0b 100%);
  background: -o-linear-gradient(top, #ea1414 0%, #870b0b 100%);
  background: -ms-linear-gradient(top, #ea1414 0%, #870b0b 100%);
  background: linear-gradient(to bottom, #ea1414 0%, #870b0b 100%);
  -webkit-box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  -moz-box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  color: #ffffff;
  text-decoration: none;
}
.ink-button.red:active {
  background: #a80e0e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a80e0e', endColorstr='#ea1414');
  background: -moz-linear-gradient(top, #a80e0e 0%, #ea1414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a80e0e), color-stop(100%, #ea1414));
  background: -webkit-linear-gradient(top, #a80e0e 0%, #ea1414 100%);
  background: -o-linear-gradient(top, #a80e0e 0%, #ea1414 100%);
  background: -ms-linear-gradient(top, #a80e0e 0%, #ea1414 100%);
  background: linear-gradient(to bottom, #a80e0e 0%, #ea1414 100%);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
}
.ink-button.red.flat {
  background: #b10f0f;
}
.ink-button.red.flat:hover {
  background: #9a0d0d;
}
.ink-button.red[disabled],
.ink-button.red .ink-disabled {
  background: #c99090;
  box-shadow: none;
  border: none;
  text-shadow: none;
}
.ink-button.red[disabled]:hover,
.ink-button.red .ink-disabled:hover {
  background: #c99090;
  cursor: not-allowed;
}
.ink-button.green {
  color: #ffffff;
  border-color: #2a580d;
  border-bottom-color: #152c07;
  text-shadow: 0 -0.09em 0.03em #152c07;
  background: #4a9b17;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a9b17', endColorstr='#2a580d');
  background: -moz-linear-gradient(top, #4a9b17 0%, #2a580d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a9b17), color-stop(100%, #2a580d));
  background: -webkit-linear-gradient(top, #4a9b17 0%, #2a580d 100%);
  background: -o-linear-gradient(top, #4a9b17 0%, #2a580d 100%);
  background: -ms-linear-gradient(top, #4a9b17 0%, #2a580d 100%);
  background: linear-gradient(to bottom, #4a9b17 0%, #2a580d 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.ink-button.green:hover {
  background: #59ba1c;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59ba1c', endColorstr='#2c5d0e');
  background: -moz-linear-gradient(top, #59ba1c 0%, #2c5d0e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59ba1c), color-stop(100%, #2c5d0e));
  background: -webkit-linear-gradient(top, #59ba1c 0%, #2c5d0e 100%);
  background: -o-linear-gradient(top, #59ba1c 0%, #2c5d0e 100%);
  background: -ms-linear-gradient(top, #59ba1c 0%, #2c5d0e 100%);
  background: linear-gradient(to bottom, #59ba1c 0%, #2c5d0e 100%);
  -webkit-box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  -moz-box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  color: #ffffff;
  text-decoration: none;
}
.ink-button.green:active {
  background: #3b7c12;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b7c12', endColorstr='#59ba1c');
  background: -moz-linear-gradient(top, #3b7c12 0%, #59ba1c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b7c12), color-stop(100%, #59ba1c));
  background: -webkit-linear-gradient(top, #3b7c12 0%, #59ba1c 100%);
  background: -o-linear-gradient(top, #3b7c12 0%, #59ba1c 100%);
  background: -ms-linear-gradient(top, #3b7c12 0%, #59ba1c 100%);
  background: linear-gradient(to bottom, #3b7c12 0%, #59ba1c 100%);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
}
.ink-button.green.flat {
  background: #3f8514;
}
.ink-button.green.flat:hover {
  background: #356f10;
}
.ink-button.green[disabled],
.ink-button.green .ink-disabled {
  background: #93b180;
  box-shadow: none;
  border: none;
  text-shadow: none;
}
.ink-button.green[disabled]:hover,
.ink-button.green .ink-disabled:hover {
  background: #93b180;
  cursor: not-allowed;
}
.ink-button.blue {
  color: #ffffff;
  border-color: #0a4f92;
  border-bottom-color: #073563;
  text-shadow: 0 -0.09em 0.03em #073563;
  background: #0f75da;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f75da', endColorstr='#0a4f92');
  background: -moz-linear-gradient(top, #0f75da 0%, #0a4f92 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f75da), color-stop(100%, #0a4f92));
  background: -webkit-linear-gradient(top, #0f75da 0%, #0a4f92 100%);
  background: -o-linear-gradient(top, #0f75da 0%, #0a4f92 100%);
  background: -ms-linear-gradient(top, #0f75da 0%, #0a4f92 100%);
  background: linear-gradient(to bottom, #0f75da 0%, #0a4f92 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.ink-button.blue:hover {
  background: #1d87ef;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d87ef', endColorstr='#0a5197');
  background: -moz-linear-gradient(top, #1d87ef 0%, #0a5197 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d87ef), color-stop(100%, #0a5197));
  background: -webkit-linear-gradient(top, #1d87ef 0%, #0a5197 100%);
  background: -o-linear-gradient(top, #1d87ef 0%, #0a5197 100%);
  background: -ms-linear-gradient(top, #1d87ef 0%, #0a5197 100%);
  background: linear-gradient(to bottom, #1d87ef 0%, #0a5197 100%);
  -webkit-box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  -moz-box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  box-shadow: '0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5)';
  color: #ffffff;
  text-decoration: none;
}
.ink-button.blue:active {
  background: #0d63b9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d63b9', endColorstr='#1d87ef');
  background: -moz-linear-gradient(top, #0d63b9 0%, #1d87ef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d63b9), color-stop(100%, #1d87ef));
  background: -webkit-linear-gradient(top, #0d63b9 0%, #1d87ef 100%);
  background: -o-linear-gradient(top, #0d63b9 0%, #1d87ef 100%);
  background: -ms-linear-gradient(top, #0d63b9 0%, #1d87ef 100%);
  background: linear-gradient(to bottom, #0d63b9 0%, #1d87ef 100%);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
}
.ink-button.blue.flat {
  background: #0d68c2;
}
.ink-button.blue.flat:hover {
  background: #0c5baa;
}
.ink-button.blue[disabled],
.ink-button.blue .ink-disabled {
  background: #98b4d0;
  box-shadow: none;
  border: none;
  text-shadow: none;
}
.ink-button.blue[disabled]:hover,
.ink-button.blue .ink-disabled:hover {
  background: #98b4d0;
  cursor: not-allowed;
}
.button-group > .ink-button {
  float: left;
  margin: 5px 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
.button-group > .ink-button:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-left: 1px solid #ccc;
}
.button-group > .ink-button:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}